PORT=3000
USER_SERVICE_URL=http://user-service:3002
COMPANY_SERVICE_URL=http://company-service:3001
ITEMS_SERVICE_URL=http://items-service:3003
ROLE_SERVICE_URL=http://role-service:3016
HR_SERVICE_URL=http://hr-service:3004
